        <ion-nav-view></ion-nav-view>
        <ion-header-bar align-title="center" class="bar-positive">
            
            <h1 class="title">Remote Hour Meter</h1>
        </ion-header-bar>
<ion-header-bar align-title="center" class="bar bar-subheader">
    <button class="button icon-left ion-home" ng-click="doTap();"></button>
    <button class="button icon ion-wrench" ng-click="doService();">Service</button>
    <button class="button icon ion-clock" ng-click="doHourMeter();">Hour meter</button>
        </ion-header-bar>
<ion-view cache-view="false">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <div>
            <div class="col"><h3>Vehicle information</h3></div>
            <div class="col"></div>
        </div>
        <div class="row" ng-repeat="vehicle_col in vehicledetail">
            <script>console.log("vehicle info");</script>
            <div class="col">{{vehicle_col.keyfield}}</div>
            <div class="col">{{vehicle_col.valuefield}}</div>
        </div>
        <div ng-if="v_rentaldone === 1">
            <div class="col"><h3>Rental information</h3></div>
            <div class="col"></div>
        </div>
        <div class="row" ng-if="v_rentaldone === 1" ng-repeat="v_row in rentaldetail">
            <div class="col">{{v_row.keyfield}}</div>
            <div class="col">{{v_row.valuefield}}</div>
        </div>
    </ion-content>
</ion-view>
